{% extends "layout.html" %}

{% block title %}Emergência{% endblock %}

{% block main %}
    <div class="jumbotron jumbotron-fluid" style="padding: 5%">
        <h1><strong>Defesa Civil da Cidade do Recife:</strong></h1>
        <div class="container information">
            <div class="col-sm-5">
                <h3>Telefone:</h3>
                <h5>81 3355.2115</h5>
                <h3>E-mail:</h3>
                <h5>sedec@recife.pe.gov.br</h5>
                <h3>Horário de funcionamento:</h3>
                <h5>8h às 17h</h5>
                <h3>Atendimento ao cidadão 24h:</h3>
                <h5>0800 081 3400</h5>
            </div>
            <div class="col-sm-7">
                <h2>Regionais da Defesa Civil</h2>
                <ul>
                    <li>Regional Norte – Avenida Beberibe, 3847, Porto da Madeira. F: 3355-4320</li>
                    <li>Regional Nordeste – Rua Monte Celeste, 67, Guabiraba. F: 3355-6856</li>
                    <li>Regional Noroeste – Avenida Norte, 5600, Casa Amarela. F: 3355-6615</li>
                    <li>Regional Oeste – Avenida San Martin, 2420, San Martin. F: 3355-6796</li>
                    <li>Regional Sul – Rua Alfredo Eugênio M. de Almeida, 35, Lagoa Encantada. F: 3355-6809</li>
                    <li>Regional Plana – Rua Afonso Pena, 550, Santo Amaro. F: 3355-2101</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid" style="padding: 5%">
        <h1><strong>Defesa Civil da Cidade de Olinda:</strong></h1>
        <div class="container information">
            <div class="col-sm-5">
                <h3>Telefone:</h3>
                <h5>81 3429.9710</h5>
                <h3>Endereço:</h3>
                <h5>Av. Joaquim Nabuco, 475 - Varadouro, Olinda - PE</h5>
                <h3>Horário de funcionamento:</h3>
                <h5>7:30 às 18:00</h5>
                <h3>Atendimento ao cidadão:</h3>
                <h5>0800 281 2112</h5>
            </div>
        </div>
    </div>
{% endblock %}
